//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 02 15:30:07 2021
//! **************************************************************************

SCHEMATIC START;
COMP "RX" LOCATE = SITE "N21" LEVEL 1;
COMP "TX" LOCATE = SITE "P22" LEVEL 1;
COMP "pixel_clk" LOCATE = SITE "P26" LEVEL 1;
SCHEMATIC END;

